.pagePanier {
  width: 100%;
  height: 100%;
  margin-bottom: 3em;
  margin-top: 3em;
}

.pagePanier h1 {
  font-family: 'Acme', sans-serif;
  text-align: center;
  color: black;
  font-size: 2.5em;
  padding-top: 0.5em
}

.produitImg img {
  width: 15em;
}

.card-price {
  color: red;
  text-align: right;
}

.card {
  background-color: rgba(252, 224, 100, 0.3);
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #c9c9c9;
}

.btn-success {
  margin-right: 10px;
}

.boucleProduit {
  margin-bottom: 30px;
}

.boxInfoPanier {
  width: 100%;
}

.boxInfoPanier p {
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.produitPanier h2 {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

.btnAddPanier {
  background-color: #797872;
  color: white;
  border: 1px solid #797872;
}


h2{
  font-family: 'Acme', sans-serif;
  font-size: 5em;
}


.iconPanier{
  background-color: rgba(255, 255, 255, 0.3);
  width: 20em;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.boxInfoPanier{
  width: 50vw!important;
}

.produitImg img {
  width: 15em;
}

.card-price {
  color: red;
  text-align: right;
}

.card {
  background-color: rgba(252, 224, 100, 0.3);
  border: 1px solid #e5e7eb;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #c9c9c9;
}

.btn-success {
  margin-right: 10px;
}

.cartePanier {
  width: 90%;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #c9c9c9;
  background-color: var(--new-jaune-clair-color);
}

.boucleProduit {
  margin-bottom: 30px;
}

.boxInfoPanier {
  width: 100%;
}

.boxInfoPanier p {
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

.produitPanier h2 {
  text-align: center;
  font-family: 'Acme', sans-serif;
}

#btnModifProduit {
  background-color: #797872;
  color: white;
  border: 1px solid #797872;
}

h5{
  font-size: 1.5em;
}


/* Média taille small */
@media (max-width: 767px) {
  .iconPanier{
    width: 100%;
  }
  .boxInfoPanier{
    align-items: center;
    padding: 0!important;
  }
  .boxInfoPanier{
    width: 100%!important;
  }
  .boxInfoPanier p{
    width: 100%!important;
  }
  .PanierInfos{
    flex-direction: column;
  }
  .cartePanier {
    width: 80vw!important;
  }

  .boxPanier{
    padding-right: 2em;
    padding-left: 2em;
  }

}
