
:root {
  --rouge-color: #ff0000;
  --bleu-color: #3b4cca;
  --gris-color: #e5e7eb;
  --bleu-clair-color: rgba(176, 231, 255, 0.88);
  --new-bleu-clair-color: rgba(122, 215, 211, 0.58);
  --new-jaune-clair-color: rgba(243, 238, 112, 0.51);


}

body{
  margin : 0;
}


 .mat-snack-bar-container {
   max-width: 15vw !important;
   transition: 0.5s right;
   position: absolute;
   bottom: 0 !important;
   right: 0 !important;
   box-shadow: 3px 3px 10px #000;
   border-radius: 10px 10px 10px 10px;
   transform: translateX(-50%);
 }

@media (max-width: 996px) {
  .mat-snack-bar-container {
    max-width: 75% !important;
  }
}

.success-snackbar {
  background-color: #2ecc71;
  color: #fff;
}

.error-snackbar {
  background-color: #e74c3c;
  color: #fff;
}

.mat-simple-snackbar-action button {
  background: white;
}

.mat-headline, .mat-typography h1 {
  font: 400 30px/32px 'Montserrat', sans-serif;
}


.mat-simple-snackbar-action button {
  max-height: 36px;
  min-width: 0;
  color: black !important;
}
@media (max-width: 996px) {
  .mat-headline, .mat-typography h1 {
    font: 400 26px/32px 'Montserrat', sans-serif;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-entreprises {
  width: 100%;
}
