<div class="d-sm-none d-md-flex flex-md-column flex-xl-row align-items-center justify-content-around py-5 my-3 w-100 bannierePika">
  <h1>Pikaplush</h1>
  <img src="assets/img/mimikiNewLogo.png">
</div>

<div class="d-flex flex-column align-items-center" >
  <div class="d-flex flex-wrap justify-content-center justify-content-md-between contentPart">
    <div class="d-flex justify-content-center align-items-center px-md-5 px-sm-0 imgAccueil">
      <img src="../assets/img/starters.png">
    </div>
    <div class="contentAccueil d-flex flex-column justify-content-center px-md-5 px-sm-4 text-justify">
      <h3  class="my-3"> Notre histoire </h3>
      <p> Bienvenue dans l'univers merveilleux de "PikaPlush", la boutique en ligne la plus magique et captivante dédiée aux peluches Pokémon !</p>
      <p>  Chez PikaPlush, nous croyons fermement que chaque fan de Pokémon devrait pouvoir câliner et chérir ses créatures préférées, même lorsqu'elles ne sont qu'en version peluche. Notre mission est de faire entrer la magie des Pokémon dans chaque foyer, en offrant une vaste sélection de peluches authentiques et de haute qualité.</p>
    </div>
  </div>

  <div class="d-flex flex-wrap-reverse justify-content-center justify-content-md-between contentPart">
    <div class="contentAccueil d-flex flex-column justify-content-center  px-md-5 px-sm-4 text-justify pt-3">
      <h3 class="my-3">Qui sommes nous ?</h3>

      <p>Laissez-moi vous présenter l'équipe de développement web exceptionnelle qui donne vie à l'expérience en ligne fluide et captivante de PikaPlush :  </p>

      <p>Marie - La maître des codes : Marie est notre talentueuse développeuse principale. Avec une passion pour la technologie et une expertise approfondie en développement web, elle est le cerveau derrière les fonctionnalités et la structure de notre boutique en ligne. Elle s'assure que chaque ligne de code est soigneusement écrite pour offrir une expérience utilisateur sans faille et intuitive.</p>

      <p class="text-justify">Maxime - L'expert en conception web : Maxime est notre brillant designer web. Grâce à sa créativité débordante et à son sens esthétique raffiné, il donne vie à l'interface utilisateur visuellement attrayante de PikaPlush. On l'aime principalement pour son sens de l'humour et son amour pour le divertissement. C'est grâce à lui que l'ambiance dans l'équipe est si relaxante et motivante.</p>

      <p> Célia - L'experte en développement back-end : Célia est notre développeur back-end hautement qualifié. Avec une expertise approfondie en langages de programmation et en gestion des bases de données, elle est responsable de la logique et de la fonctionnalité de notre boutique en ligne. Célia travaille en coulisses pour s'assurer que tous les processus et les fonctionnalités du site fonctionnent de manière transparente, du traitement des commandes à la gestion des stocks.</p>

      <p> Cette équipe talentueuse travaille en étroite collaboration pour assurer que chaque détail de l'expérience en ligne de PikaPlush soit impeccable et que les clients vivent une expérience en ligne mémorable et agréable sur PikaPlush. </p>
      <p>Alors, rejoignez-nous chez PikaPlush et plongez dans un monde où la magie des Pokémon prend vie à travers des peluches câlines, des moments mémorables et une communauté passionnée. C'est plus qu'une simple boutique en ligne, c'est une aventure Pokémon à portée de clic.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center px-md-5 px-sm-0 imgAccueil poke">
      <img src="../assets/img/pokemonNintendo.png">
    </div>
  </div>
</div>
