<div class="register-form row h-100 formRegister my-3">
  <div class="d-flex justify-content-center align-items-center">
    <img class="w-50 pe-2 d-sm-none d-md-block" src="assets/img/pokeregister.png">
    <form class="w-50 ps-2" #registerF="ngForm" (ngSubmit)="registerF.form.valid && onSubmit()">
      <div class="form-title">
        <h1 class="text-uppercase fw-bold text-center mb-4">Inscription</h1>
      </div>
      <div class="form-group">
        <input type="text" id="nom" minlength="2" maxlength="32" name="nom" placeholder="Nom"
               [(ngModel)]="registerForm.nom" required
               class="form-control"
               #nom="ngModel">
      </div>
      <div class="alert alert-danger p-2 animate__animated animate__fadeIn"
           role="alert"
           *ngIf="nom.errors && registerF.submitted">
        le champ ne doit pas être vide et doit contenir entre 2 et 32 caractères
      </div>
      <div class="form-group">
        <input type="text" id="prenom" minlength="2" maxlength="32" name="prenom" placeholder="Prenom"
               [(ngModel)]="registerForm.prenom" required
               class="form-control"
               #prenom="ngModel">
      </div>

      <div class="alert alert-danger p-2 animate__animated animate__fadeIn"
           role="alert"
           *ngIf="prenom.errors && registerF.submitted">
        le champ ne doit pas être vide et doit contenir entre 2 et 32 caractères
      </div>
      <div class="form-group">
        <input type="email" id="email" minlength="2" maxlength="32" name="email" placeholder="Email"
               [(ngModel)]="registerForm.email" required email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
               class="form-control"
               #email="ngModel">
      </div>
      <div class="alert alert-danger p-2 animate__animated animate__fadeIn"
           role="alert"
           *ngIf="email.errors && registerF.submitted">
        L'email n'est pas au bon format.
      </div>

      <div class="form-group">
        <input type="password" id="pwd" name="pwd" minlength="8" placeholder="Mot de passe"
               [(ngModel)]="registerForm.pwd" required
               class="form-control mt-1" #pwd="ngModel">
      </div>
      <div class="alert alert-danger p-2 animate__animated animate__fadeIn"
           role="alert"
           *ngIf="pwd.errors && registerF.submitted">
        le champ ne doit pas être vide et doit contenir au moins 8 caractères
      </div>
      <div class="form-group text-center">
        <button class="btn" type="submit">Inscription</button>
      </div>
      <div class="register-form-bottom d-flex justify-content-center">
        <span class="me-3">déjà un compte ?</span>
        <a [routerLink]="['/login']">Connexion</a>
      </div>
    </form>
  </div>

</div>
